absl-py==0.10.0
alabaster==0.7.12
altgraph==0.17.2
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
appdirs==1.4.4
argh==0.26.2
argon2-cffi 
asn1crypto 
astroid 
astropy 
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
attrs 
autopep8 
Babel 
backcall==0.2.0
backports.functools-lru-cache k
backports.shutil-get-terminal-size 
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt 
beautifulsoup4 
bitarray 
bkcharts==0.2
black==19.10b0
bleach 
blueqat==0.4.6
bokeh 
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.1.1
cattrs==1.4.0
certifi==2020.12.5
cffi 
chainmap==1.0.3
chardet 
chromedriver-binary-auto==0.1.1
click==7.1.2
cloudpickle 
clyent==1.2.2
colorama 
combomethod==1.0.12
comtypes==1.1.8
conda==4.9.2
conda-build==3.18.11
conda-package-handling 
conda-verify==3.4.2
contextlib2==0.6.0.post1
cryptography 
cvzone==1.5.3
cycler==0.10.0
Cython 
cytoolz==0.11.0
dask 
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch 
distributed 
docutils==0.16
entrypoints==0.3
enum34==1.1.10
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
flake8 
Flask==1.1.2
fsspec 
future==0.18.2
gast==0.3.3
gevent 
glob2==0.7
gmpy2==2.0.8
google-auth==1.21.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet 
grpcio==1.31.0
h11==0.12.0
h5py==2.10.0
HeapDict==1.0.1
html5lib 
idna 
imageio 
imagesize==1.2.0
importlib-metadata
iniconfig 
intervaltree 
ipykernel
ipython 
ipython-genutils 
ipywidgets 
isort 
itsdangerous==1.1.0
jdcal==1.4.1
jedi 
Jinja2==2.11.2
joblib 
json5==0.9.5
jsonschema 
jupyter==1.0.0
jupyter-client 
jupyter-console 
jupyter-core
jupyterlab==2.2.6
jupyterlab-pygments 
jupyterlab-server 
Keras==2.4.3
Keras-Preprocessing==1.1.2
keyring 
kiwisolver 
lazy-object-proxy 
libarchive-c==2.9
llvmlite==0.34.0
locket==0.2.0
lxml 
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib 
mccabe==0.6.1
mediapipe==0.8.9
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mlagents==0.25.0
mlagents-envs==0.25.0
mock 
more-itertools 
mpmath==1.1.0
msgpack
multipledispatch==0.6.0
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclient 
nbconvert 
nbformat
nest-asyncio 
networkx 
nltk 
nose 
notebook 
nulltype==2.3.1
numba==0.51.2
numexpr 
numpy 
numpydoc 
oauthlib==3.1.0
olefile==0.46
opencv-contrib-python==4.5.4.60
opencv-python==4.5.4.60
openpyxl 
opt-einsum==3.3.0
options==1.4.10
outcome==1.1.0
packaging 
pandas 
pandocfilters 
paramiko 
parso==0.7.0
partd==1.1.0
path 
pathlib2 
pathspec==0.7.0
pathtools==0.1.2
patsy==0.5.1
pefile==2021.9.3
pep8==1.7.1
pexpect 
pickleshare 
Pillow
pkginfo==1.6.1
pluggy==0.13.1
ply==3.11
prometheus-client 
prompt-toolkit 
protobuf==3.13.0
psutil 
ptyprocess 
py 
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycaw==20181226
pycodestyle==2.6.0
pycosat==0.6.3
pycparser 
pycurl==7.43.0.6
pydocstyle 
pyerfa 
pyflakes==2.2.0
pygame==2.1.2
Pygments 
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.5
pylint 
pyls-black 
pyls-spyder 
PyNaCl 
pyodbc===4.0.0-unsupported
pyOpenSSL 
pyparsing==2.4.7
pypiwin32==223
pyreadline==2.1
pyrsistent 
PySocks 
pytest==0.0.0
python-dateutil==2.8.1
python-jsonrpc-server 
python-language-server 
pytz 
PyWavelets 
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtAwesome 
qtconsole 
QtPy==1.9.0
regex 
requests 
requests-oauthlib==1.3.0
rope 
rsa==4.6
Rtree==0.9.4
ruamel-yaml==0.15.87
scikit-image==0.16.2
scikit-learn 
scipy 
seaborn==0.10.1
selenium==4.1.0
Send2Trash 
sequential==1.0.0
simplegeneric==0.8.1
singledispatch
sip==4.19.13
six==1.12.0
sniffio==1.2.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers 
soupsieve
Sphinx 
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport 
spyder
spyder-kernels 
SQLAlchemy 
statsmodels==0.11.1
sympy 
tables==3.6.1
tblib 
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl 
three-merge 
toml 
toolz 
tornado
tqdm 
traitlets 
trio==0.19.0
trio-websocket==0.9.2
typed-ast==1.4.1
typing-extensions 
ujson 
unicodecsv==0.14.1
urllib3 
watchdog 
wcwidth 
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.11.2
wsproto==1.0.0
xlrd 
XlsxWriter 
xlwings==0.21.4
xlwt==1.3.0
xmltodict==0.12.0
yapf 
zict==2.0.0
zipp 
zope.event==4.5.0
zope.interface 
